.jumbotron {
    background: #25282e;
    color: #fff;
    & .laravel {
        color: #fa5e60;
    }
    & .react {
        color: #50dafb;
    }
}
.form-box {
    width: 60%;
    margin: 0 auto;
}
.full-width {
    width: 100%;
}